<div id="top-banner-and-menu">
    <div class="container">
        <div class="col-xs-12 col-sm-4 col-md-3 sidemenu-holder">
            <!-- ================================== TOP NAVIGATION ================================== -->
            <div class="side-menu animate-dropdown">
                <div class="head"><i class="fa fa-list"></i> All departments</div>
                <nav class="yamm megamenu-horizontal" role="navigation">
                    <ul class="nav">
                         <li class="dropdown menu-item" ng-repeat="category in categories">
                            <a ui-sref="listing({category:{{category.categoryId}}})">{{category.name}}</a>
                        </li>
                        <!-- /.menu-item -->
                    </ul>
                    <!-- /.nav -->
                </nav>
                <!-- /.megamenu-horizontal -->
            </div>
            <!-- /.side-menu -->
            <!-- ================================== TOP NAVIGATION : END ================================== -->
        </div>
        <!-- /.sidemenu-holder -->

        <div class="col-xs-12 col-sm-8 col-md-9 homebanner-holder">
            <!-- ========================================== SECTION – HERO ========================================= -->

            <div id="hero">
                <div id="owl-main" class="owl-carousel owl-inner-nav owl-ui-sm">
                    <div class="item" style="background-image: url(assets/images/sliders/slider01.jpg);">
                        <div class="container-fluid">
                            <div class="caption vertical-center text-left">
                                <div class="big-text fadeInDown-1">
                                    Save up to a<span class="big"><span class="sign">$</span>400</span>
                                </div>

                                <div class="excerpt fadeInDown-2">
                                    on selected laptops
                                    <br> & desktop pcs or
                                    <br> smartphones
                                </div>
                                <div class="small fadeInDown-2">
                                    terms and conditions apply
                                </div>
                                <div class="button-holder fadeInDown-3">
                                    <a href="single-product.html" class="big le-button ">shop now</a>
                                </div>
                            </div>
                            <!-- /.caption -->
                        </div>
                        <!-- /.container-fluid -->
                    </div>
                    <!-- /.item -->

                    <div class="item" style="background-image: url(assets/images/sliders/slider03.jpg);">
                        <div class="container-fluid">
                            <div class="caption vertical-center text-left">
                                <div class="big-text fadeInDown-1">
                                    Want a<span class="big"><span class="sign">$</span>200</span>Discount?
                                </div>

                                <div class="excerpt fadeInDown-2">
                                    on selected
                                    <br>desktop pcs
                                    <br>
                                </div>
                                <div class="small fadeInDown-2">
                                    terms and conditions apply
                                </div>
                                <div class="button-holder fadeInDown-3">
                                    <a href="single-product.html" class="big le-button ">shop now</a>
                                </div>
                            </div>
                            <!-- /.caption -->
                        </div>
                        <!-- /.container-fluid -->
                    </div>
                    <!-- /.item -->

                </div>
                <!-- /.owl-carousel -->
            </div>

            <!-- ========================================= SECTION – HERO : END ========================================= -->
        </div>
        <!-- /.homebanner-holder -->
    </div>
    <!-- /.container -->
</div>
<!-- /#top-banner-and-menu -->

<!-- ========================================= HOME BANNERS ========================================= -->
<section id="banner-holder" class="wow fadeInUp">
    <div class="container">
        <div class="col-xs-12 col-lg-6 no-margin banner">
            <a href="category-grid-2.html">
                <div class="banner-text theblue">
                    <h1>New Life</h1>
                    <span class="tagline">Introducing New Category</span>
                </div>
                <img class="banner-image" alt="" src="assets/images/banners/banner-narrow-01.jpg" />
            </a>
        </div>
        <div class="col-xs-12 col-lg-6 no-margin text-right banner">
            <a href="category-grid-2.html">
                <div class="banner-text right">
                    <h1>Time &amp; Style</h1>
                    <span class="tagline">Checkout new arrivals</span>
                </div>
                <img class="banner-image" alt="" src="assets/images/banners/banner-narrow-02.jpg" />
            </a>
        </div>
    </div>
    <!-- /.container -->
</section>
<!-- /#banner-holder -->
<!-- ========================================= HOME BANNERS : END ========================================= -->
<div id="products-tab" class="wow fadeInUp">
    <div class="container">
        <div class="tab-holder">
            <!-- Nav tabs -->
            <ul class="nav nav-tabs">
                <li class="active"><a href="#featured" data-toggle="tab">featured</a></li>

            </ul>

            <!-- Tab panes -->
            <div class="tab-content">
                <div class="tab-pane active" id="featured">
                    <div class="product-grid-holder">
                        <div class="col-sm-4 col-md-3  no-margin product-item-holder hover" ng-repeat="product in featuredProducts">
                            <div class="product-item">
                                <div class="image">
                                    <img alt="" src="assets/images/products/product-01.jpg" />
                                </div>
                                <div class="body">
                                    <div class="title">
                                        <a href="single-product.html">{{product.name}}</a>
                                    </div>
                                    <div class="brand">Share on </div>
                                    <div class="social-icons">
                                        <ul>
                                            <li>
                                                <a href="https://facebook.com/sharer.php?u=http://localhost:9000/products/{{product.productId}}" class="fa fa-facebook" target="_blank"></a>
                                            </li>
                                            <li>
                                                <a href="https://twitter.com/intent/tweet?url=http://localhost:9000/products/{{product.productId}}&text=&via=ng_directives" class="fa fa-twitter" target="_blank"></a>
                                            </li>
                                            <li>
                                                <a href="https://plus.google.com/share?url=http://localhost:9000/products/{{product.productId}}" class="fa fa-google" target="_blank"></a>
                                            </li>
                                           
                                            
                                        </ul>
                                    </div>

                                    <progressbar class="progress-striped active" animate="true" max="100" value="progressValue" type="success"><i><span count-to="{{countTo}}" duration="1" count-from="{{countFrom}}"></span> / 100</i></progressbar>
                                    
                                </div>
                                <div class="prices">
                                    <div class="price-prev"></div>
                                    <div class="price-current pull-right">$1199.00</div>
                                </div>

                                <div class="hover-area">
                                    <div class="add-cart-button">
                                        <a href="single-product.html" class="le-button">add to cart</a>
                                    </div>
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<style type="text/css">
.facebookCount {
  display: none !important;
}
.count-o {
  visibility: none !important;
}
</style>